* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 400px;
    background-color: grey;
    text-align: center;
    margin:20px 10px;
    line-height: 20px;
}
 .item .image {
    width: 100%;
    padding:20px;
}


.item .image img {
    height: 400px;
    border-radius: 10px;
    width: 100%;
}
